# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:

services:
  # default configuration for services in *this* file
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

  # makes classes in src/ available to be used as services
  # this creates a service per class whose id is the fully-qualified class name
  App\:
    resource: '../src/'
    exclude:
      - '../src/DependencyInjection/'
      - '../src/Entity/'
      - '../src/Kernel.php'
      - '../src/Tests/'

  # controllers are imported separately to make sure services can be injected
  # as action arguments even if you don't extend any base controller class
  #    App\Controller\:
  #        resource: '../src/Controller/'
  #        tags: ['controller.service_arguments']

  # add more service definitions when explicit configuration is needed
  # please note that last definitions always *replace* previous ones

  guzzle_client.musementapi:
    class: GuzzleHttp\Client
    arguments:
      - { 'base_uri': '%env(MUSEMENT_API_URL)%' }

  guzzle_client.weatherapi:
    class: GuzzleHttp\Client
    arguments:
      - { 'base_uri': '%env(WEATHER_API_URL)%' }

  App\Infrastructure\Musement\Client:
    arguments:
      - '@guzzle_client.musementapi'

  App\Infrastructure\Weather\Client:
    arguments:
      - '@guzzle_client.weatherapi'
      - '%env(WEATHER_API_KEY)%'

  App\Infrastructure\Weather: '@App\Infrastructure\Weather\Client'
  App\Infrastructure\Musement: '@App\Infrastructure\Musement\Client'
